*{
    margin :0;
    padding: 0;
}
body{
    text-align: center;
}
.img{
    position:absolute;
    z-index:1;
}


canvas{
    background: #202028;
    color: #fff;    
    font-size: 2em; 
    text-align : center;
    position: relative;
    margin-top: 218px;
    padding: 0 70px 0 80px;

}

.container{
    background-image: url('./img/5c9a49dd36f27acf248b66a0f6affdc1.png');
    background-repeat: no-repeat;
    display:inline-block;
    position: relative;
    margin: 0 auto;
    height: 100vh;
    width: 100vh;
    background-position: center;
    background-size: 524px 1066px;
}


#gamebtn {
	background-color:#000000;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #010f02;
	display:flex;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:23px;
	padding:2px 21px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    margin-top: 360px;
    transform: rotate(-31deg);
    margin-left: 667px;
}
#gamebtn:hover {
	background-color:#020500;
}
#gamebtn:active {
	position:relative;
	top:1px;
}

h1, #score{
    display: flex;
}