*{
    margin :0;
    padding: 0;
}
body{
    text-align: center;
}
.img{
    position:absolute;
    z-index:1;
}

canvas{
    background: #202028;
    color: #fff;    
    font-size: 2em; 
    text-align : center;
    position: relative;
    z-index: 20;
}

.container{
    display:inline-block;
    position: relative;
    width: 1080;
    height: 1400px;
    margin: 0 auto;
}

.backgroundimg{
    position: relative;
    max-width: 76%;
    max-height: 76%
}
